[Unit]
# Human readable name of the unit
Description=prodmon-post: PLC monitoring

[Service]
# Command to execute when the service is started
WorkingDirectory= /srv/prodmon/
ExecStart=/srv/prodmon/venv/bin/python3 /srv/prodmon/post.py
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target